
body {
    background-image: url("polkadots.jpg")
}


div {
    margin-top: 300px;
    font-size: 300%;
    text-align: center;
   
}

h1 {
    text-align: center;
    margin-top: 0px;
    font-size: 100px;
}
#peopleSearch {
    font-size: 400%;
    
}

#resetButton {
margin-left: 0px;
}
